<script type="text/javascript">
$(function () {
    $('p#info').load("@Url.Action("InfoContent")");
    });
</script>

<h2>Info</h2>

@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
{
    <p>@Html.ActionLink("edit", "InfoEdit")</p>
}

<p id="info"></p>