@model ProjectManager.Models.News

<h2>News Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <h3>@Model.Title</h3>
    <p class="newsdate"> @String.Format("{0:g}", Model.Date)</p>
    <p>@Model.Text</p>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


