@model IEnumerable<ProjectManager.Models.Course>

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create New", "CourseCreate")
</p>
<table class="manage">
    <tr>
        <th>
            Course
        </th>
        <th>
            Options
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>            
            @Html.ActionLink(item.Name, "Projects", new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink("Edit", "CourseEdit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "CourseDelete", new { id = item.ID })
        </td>
    </tr>
}

</table>

