<div class="sidebar">
    <ul>	
        <li>
            <h3>Courses</h3>
            <ul class="blocklist">

                <li>@Html.ActionLink("Courses", "Courses", "Manager")</li>
                <li>@Html.ActionLink("Create course", "CourseCreate", "Manager")</li>
            </ul>

        </li>                
        <li>
            <h3>Projects</h3>
            <ul class="blocklist">
                <li>@Html.ActionLink("Projects", "Projects", "Manager")</li>
                <li>@Html.ActionLink("Create project", "ProjectCreate", "Manager")</li>
            </ul>
        </li>                
    </ul> 
</div>

<div class="clear"></div>