@using (Html.BeginForm("DeleteAll", "Account", FormMethod.Post)) {
<div>
  <fieldset>
    <legend>Delete users</legend>

    <h3>Are you sure you want to delete all users in database?</h3>
    <p>
      <input type="submit" value="Delete"/>
    </p>

  </fieldset>
</div>

}

