<h2>Import users</h2>

@using (Html.BeginForm("Import", "Account", FormMethod.Post, new { enctype = "multipart/form-data" })) {
<div>
  <fieldset>
    <legend>XML/Excel Files</legend>

    <label for="uploadFile">File:</label>
    <input type="file" name="ufile" id="ufile" />
    <input type="submit" value="Upload" />

  </fieldset>
</div>

}






